.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-link {
  color: #61dafb;
}
ul{
  padding: 0;
  list-style-type: none;
  
}
li{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  cursor: pointer;
  min-width: 250px;
}
li:hover:after{
  content: '\02A2F';
  color: red;
  font-size: 18px;
  float: right;
  margin-right: 5px;
 
}
  span::after{
   content: '\025A1';
   font-size: 28px;
   padding: 4px;
 }
.container{
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  border: 0px solid red;
  align-items: center
}
li:last-child{
  border:0px;
}