.App {
  text-align: center;
}

h1{
  color : #ff0000;
}
h2{
  margin:auto;
  text-align: center
}


.clock {

  color: #17D4FE;
  font-size: 16px;
  font-family: Orbitron, sans-serif;
  letter-spacing: 2px;


}
ul{
  width: 400px;
  margin: auto;
  list-style-type: none;
  padding: 5px;
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
li {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  text-align:center;
}

li button{
   border-radius: 2px;
   background: orangered;
   color: #fff;
   width: 60px;
  
}